@import "root.scss";

header {
  position: sticky;
  top: 0;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  width: calc(100% - var(--styling-width));
  & > div {
    margin: 5px 0;
  }
}

.font-size {
  input {
    width: 45px;
  }
}
