@import "root.scss";

header {
  position: sticky;
  top: 0;
  padding: 10px calc(10px + var(--styling-width)) 10px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  & > div {
    margin: 5px 0;
  }
}
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}
.font-size {
  input {
    width: 45px;
  }
}
.tools {
  display: flex;
  button {
    margin: 0 5px;
  }
}
